/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


body {
  color: rgb(240, 228, 234);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  background-color: rgb(68, 45, 75);
}

p {
  margin: 0;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

.button {
  background-color: rgb(148, 17, 141);
  color: #fff;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}


.splash-screen{
  display: grid;
  justify-items: center;
 
}

.game-screen{
  display: grid;
  justify-items: center;
  margin-top: 2%;
  width: 100%;
  height: 500px;

}

.game-over-screen{
  display: grid;
  justify-items: center;
 
}

.win-screen{
  display: grid;
  justify-items: center;
 
}

.text-splash{
  margin: 100px 0;
}

.title-splash{
  text-align: center;
  font-size: 60px;
}

.subtitle-splash{
  text-align : center;
  font-size: 30px;
}

.text-win, .text-game-over{
  margin-top: 100px;
  margin-bottom: 50px;
}

canvas{
  background-image: url("img/backgroundDef.png");
  background-size: cover;
  background-position: center;
}

.floor{
  display: grid;
  width: 100%;
  height: 50px;
  background-image: url("img/floor.png");
  background-size: cover;
  margin: 0;
  padding: 20px;
  color: white;
}

.interface{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 2%;
}

.interface button{
  
  padding: 10px 20px;
  font-size: 18px;

}