@import url('https://fonts.googleapis.com/css?family=Prata');
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.column-left{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.column-right{
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}


body {
  color: rgb(245, 235, 240);
  font-family: Prata, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 147%;
  background-color: rgb(68, 45, 75);
 
  
  
}

h1{
  font-family: Prata, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h2{
  font-family: Prata, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:2em;

  font-style: normal;
}


.menu-background{
  margin: 5% 0;
  width: 100%;
  /* background-image: url("img/background-web.png"); */
  background-size: cover;
 
}

p {
  margin: 0;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

.button {
  background-color: rgb(102, 0, 97);
  background-image: linear-gradient(rgb(168, 66, 163), rgb(102, 0, 97));
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 2s;
  font-family: Prata, Helvetica, Arial, sans-serif;
}


.button:hover{
  margin-left: 20px;
  background-image: linear-gradient(rgb(194, 85, 188), rgb(122, 8, 117));
}

.splash-screen{
  display: grid;
  justify-items: center;
 
}


.splash-screen ul{
  display: grid;
  justify-items: left;
  font-size: 18px;
 
}

.splash-screen li{
  font-size: 18px;
  margin: 10px 0;
}

.game-screen{
  display: grid;
  justify-items: center;
  width: 100%;
  height: 500px;
  

}

.game-over-screen{
  display: grid;
  justify-items: center;
  text-align: center;
 
}

.win-screen{
  display: grid;
  justify-items: center;
  text-align: center;
 
}


.text-splash{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.title-splash{
  font-size: 60px;
}

.subtitle-splash{
  font-size: 30px;
}

.text-win, .text-game-over{
  margin-top: 100px;
  margin-bottom: 50px;
}

canvas{
  background-image: url("img/backgroundDef.png");
  background-size: cover;
  background-position: center;
  border-left: 2px solid rgb(245, 235, 240);
  border-right: 2px solid rgb(245, 235, 240);
  border-top: 2px solid rgb(245, 235, 240);;
}

.floor{
  display: grid;
  width: 100%;
  height: 50px;
  background-image: url("img/floor.png");
  background-size: cover;
  margin: 0;
  padding: 20px;
 
  border-left: 2px solid rgb(245, 235, 240);;
  border-right: 2px solid rgb(245, 235, 240);;
  border-bottom: 2px solid rgb(245, 235, 240);;
}

.interface{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 2%;
  font-size: 16px;
}

.interface .button{
  
  padding: 10px 20px;
  font-size: 18px;
  width: 100px;
  box-shadow: none;
  background-color: rgb(121, 12, 115);
  transition-duration: 1s;
  outline:0;

}

.interface .button:hover{
  background-color: rgb(175, 16, 167);
  margin-left: 0;

}

#music-audio{
  display: none;
}